PORT=3000

# Apps Script деплой ПЛАНИРОВЩИКА (страница /planner.html, таблица PlannerEvents)
PLANNER_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzijyXJ_esWOlXCseW-jgwPFOVllc47cNzbOyxZvqY4jrQn1d-aq1dN0i_e9ddVbH970Q/exec
PLANNER_APPS_SCRIPT_TOKEN=nAqZfDRfmwD*Ct6x4Ib7Q^*Zn*HCWUfL

# Apps Script деплой РЕГИСТРАЦИИ (страница /participate.html, таблица Participants)
REGISTRATION_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxS6PEKqHTOeF9KSiY4jZuS1DAFIfOcq4P0hAuLzyGru_d-utjrzOXy6hf9H8xlT_T5/exec
REGISTRATION_APPS_SCRIPT_TOKEN=nAqZfDRfmwD*Ct6x4Ib7Q^*Zn*HCWUfL

# Обратная совместимость: если PLANNER_APPS_SCRIPT_URL не задан, используется APPS_SCRIPT_URL.
# APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbzijyXJ_esWOlXCseW-jgwPFOVllc47cNzbOyxZvqY4jrQn1d-aq1dN0i_e9ddVbH970Q/exec
# APPS_SCRIPT_SHARED_TOKEN=nAqZfDRfmwD*Ct6x4Ib7Q^*Zn*HCWUfL
